#####################################
#                                   #
#  Do not leak the file to anyone!  #
#                                   #
#####################################


class Config(object):
    proxies = None

    # config your accounts
    binance_api_key = ''
    binance_secret_key = ''
